@use '../styles/partials/reset.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.wrapped-container {
    max-width: 1600px;
    margin: 0 auto;
}

.bg-red {
    background-color: $HintOfRed;
}